@charset "UTF-8";
/* Modular typography ratios
-------------------------------------------*/
/* Colors
-------------------------------------------*/
.f_text-center {
  text-align: center; }

.f_text-left {
  text-align: left; }

.f_text-right {
  text-align: right; }

.f_block {
  display: block; }

.f_color-primary {
  color: #58355E; }

.f_color-primary-shade {
  color: #4d2f53; }

.f_color-primary-tint {
  color: #69496e; }

.f_bg-primary {
  background-color: #58355E; }

.f_bg-primary-shade {
  background-color: #4d2f53; }

.f_bg-primary-tint {
  background-color: #69496e; }

.f_color-secondary {
  color: #177E89; }

.f_color-secondary-shade {
  color: #146f79; }

.f_color-secondary-tint {
  color: #2e8b95; }

.f_bg-secondary {
  background-color: #177E89; }

.f_bg-secondary-shade {
  background-color: #146f79; }

.f_bg-secondary-tint {
  background-color: #2e8b95; }

.f_color-tertiary {
  color: #7044ff; }

.f_color-tertiary-shade {
  color: #633ce0; }

.f_color-tertiary-tint {
  color: #7e57ff; }

.f_bg-tertiary {
  background-color: #7044ff; }

.f_bg-tertiary-shade {
  background-color: #633ce0; }

.f_bg-tertiary-tint {
  background-color: #7e57ff; }

.f_color-info {
  color: #3880ff; }

.f_color-info-shade {
  color: #3171e0; }

.f_color-info-tint {
  color: #4c8dff; }

.f_bg-info {
  background-color: #3880ff; }

.f_bg-info-shade {
  background-color: #3171e0; }

.f_bg-info-tint {
  background-color: #4c8dff; }

.f_color-success {
  color: #10dc60; }

.f_color-success-shade {
  color: #0ec254; }

.f_color-success-tint {
  color: #28e070; }

.f_bg-success {
  background-color: #10dc60; }

.f_bg-success-shade {
  background-color: #0ec254; }

.f_bg-success-tint {
  background-color: #28e070; }

.f_color-warning {
  color: #FF8811; }

.f_color-warning-shade {
  color: #e0780f; }

.f_color-warning-tint {
  color: #ff9429; }

.f_bg-warning {
  background-color: #FF8811; }

.f_bg-warning-shade {
  background-color: #e0780f; }

.f_bg-warning-tint {
  background-color: #ff9429; }

.f_color-danger {
  color: #DB3A34; }

.f_color-danger-shade {
  color: #c1332e; }

.f_color-danger-tint {
  color: #df4e48; }

.f_bg-danger {
  background-color: #DB3A34; }

.f_bg-danger-shade {
  background-color: #c1332e; }

.f_bg-danger-tint {
  background-color: #df4e48; }

.f_color-dark {
  color: #222428; }

.f_color-dark-shade {
  color: #1e2023; }

.f_color-dark-tint {
  color: #383a3e; }

.f_bg-dark {
  background-color: #222428; }

.f_bg-dark-shade {
  background-color: #1e2023; }

.f_bg-dark-tint {
  background-color: #383a3e; }

.f_color-gray {
  color: #989aa2; }

.f_color-gray-shade {
  color: #86888f; }

.f_color-gray-tint {
  color: #a2a4ab; }

.f_bg-gray {
  background-color: #989aa2; }

.f_bg-gray-shade {
  background-color: #86888f; }

.f_bg-gray-tint {
  background-color: #a2a4ab; }

.f_color-light {
  color: #f4f5f8; }

.f_color-light-shade {
  color: #d7d8da; }

.f_color-light-tint {
  color: #f5f6f9; }

.f_bg-light {
  background-color: #f4f5f8; }

.f_bg-light-shade {
  background-color: #d7d8da; }

.f_bg-light-tint {
  background-color: #f5f6f9; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-overflow-style: scrollbar; }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* -------------------------------------------------- *\
    Base Styles
\* –––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: #306BAC;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

a:hover {
  text-decoration: none;
  color: #141B41; }

hr {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-top: 1px solid #d8d9dc; }

img {
  vertical-align: middle;
  border-style: none;
  max-width: none;
  height: auto; }

img.f_img-max {
  max-width: 100%; }

img.f_img-fluid {
  max-width: none;
  width: 100%; }

.f_cf {
  content: "";
  display: table;
  clear: both; }

.f_col-sm-center {
  text-align: center; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: disc inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: .5rem 0 .5rem 1.5rem;
  font-size: 92%;
  list-style: circle inside; }

ul.f_list-unstyled,
ol.f_list-unstyled {
  list-style: none; }
  ul.f_list-unstyled ul,
  ul.f_list-unstyled ol,
  ul.f_list-unstyled ol,
  ul.f_list-unstyled ul,
  ol.f_list-unstyled ul,
  ol.f_list-unstyled ol,
  ol.f_list-unstyled ol,
  ol.f_list-unstyled ul {
    margin: .5rem 0 .5rem .5rem;
    font-size: 92%;
    list-style: none; }

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.f_table-wrap {
  width: 100%;
  overflow-x: auto; }
  .f_table-wrap .f_table {
    width: 100%;
    margin: 1rem 0; }
    .f_table-wrap .f_table th,
    .f_table-wrap .f_table td {
      text-align: left;
      border-bottom: 0.1rem solid #cecfd2; }
    .f_table-wrap .f_table td {
      padding: 1.2rem 1.5rem; }
    .f_table-wrap .f_table th {
      padding: .5rem 1.5rem;
      border-color: #989aa2;
      border-width: .2rem; }
    .f_table-wrap .f_table th:first-child,
    .f_table-wrap .f_table td:first-child {
      padding-left: 0; }
    .f_table-wrap .f_table th:last-child,
    .f_table-wrap .f_table td:last-child {
      padding-right: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  line-height: 1.45;
  font-weight: normal;
  font-family: "Helvetica Neue", Arial, sans-serif; }

p {
  margin-top: 0;
  margin-bottom: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.444rem 0;
  font-weight: inherit;
  line-height: 1.45;
  font-family: "Helvetica Neue", Arial, sans-serif; }

h1, .f_h1 {
  font-size: 5.051rem; }

h2, .f_h2 {
  font-size: 3.789rem; }

h3, .f_h3 {
  font-size: 2.843rem; }

h4, .f_h4 {
  font-size: 2.132rem; }

h5, h6, f_h5 {
  font-size: 1.6rem; }

/*
  Grid
--------------------------------------------*/
.f_container,
.f_container-fluid {
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

.f_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.f_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.f_flex-columns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.f_align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.f_align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.f_align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.f_align-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.f_justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.f_justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.f_justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.f_justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.f_justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.f_self-center {
  -ms-flex-item-align: center;
  align-self: center; }

.f_flex-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.f_flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.f_col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0; }

.f_col-0 {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0; }

[class^="f_col-"] {
  width: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }

.f_row [class^="f_col-"],
.f_row .f_col {
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

.f_col-5\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 5%;
  flex: 0 0 5%;
  width: 5%; }

.f_col-push-5\@xs {
  margin-left: 5%; }

.f_col-10\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  width: 10%; }

.f_col-push-10\@xs {
  margin-left: 10%; }

.f_col-15\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  width: 15%; }

.f_col-push-15\@xs {
  margin-left: 15%; }

.f_col-20\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  width: 20%; }

.f_col-push-20\@xs {
  margin-left: 20%; }

.f_col-25\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  width: 25%; }

.f_col-push-25\@xs {
  margin-left: 25%; }

.f_col-30\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  width: 30%; }

.f_col-push-30\@xs {
  margin-left: 30%; }

.f_col-35\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  width: 35%; }

.f_col-push-35\@xs {
  margin-left: 35%; }

.f_col-40\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  width: 40%; }

.f_col-push-40\@xs {
  margin-left: 40%; }

.f_col-45\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  width: 45%; }

.f_col-push-45\@xs {
  margin-left: 45%; }

.f_col-50\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 50%; }

.f_col-push-50\@xs {
  margin-left: 50%; }

.f_col-55\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  width: 55%; }

.f_col-push-55\@xs {
  margin-left: 55%; }

.f_col-60\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  width: 60%; }

.f_col-push-60\@xs {
  margin-left: 60%; }

.f_col-65\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  width: 65%; }

.f_col-push-65\@xs {
  margin-left: 65%; }

.f_col-70\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  width: 70%; }

.f_col-push-70\@xs {
  margin-left: 70%; }

.f_col-75\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  width: 75%; }

.f_col-push-75\@xs {
  margin-left: 75%; }

.f_col-80\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  width: 80%; }

.f_col-push-80\@xs {
  margin-left: 80%; }

.f_col-85\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 85%;
  flex: 0 0 85%;
  width: 85%; }

.f_col-push-85\@xs {
  margin-left: 85%; }

.f_col-90\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  width: 90%; }

.f_col-push-90\@xs {
  margin-left: 90%; }

.f_col-95\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 95%;
  flex: 0 0 95%;
  width: 95%; }

.f_col-push-95\@xs {
  margin-left: 95%; }

.f_col-100\@xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  width: 100%; }

.f_col-push-100\@xs {
  margin-left: 100%; }

.f_col-1of3\@xs {
  width: 33.3333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%; }

.f_col-2of3\@xs {
  width: 66.6666%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.6666%;
  flex: 0 0 66.6666%; }

@media all and (min-width: 1200px) {
  .f_container {
    width: 100%;
    max-width: 1175px;
    margin: 0 auto; }
  .f_row, .f_flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .f_col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .f_col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    width: 5%; }
  .f_col-push-5 {
    margin-left: 5%; }
  .f_col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    width: 10%; }
  .f_col-push-10 {
    margin-left: 10%; }
  .f_col-15 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    width: 15%; }
  .f_col-push-15 {
    margin-left: 15%; }
  .f_col-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    width: 20%; }
  .f_col-push-20 {
    margin-left: 20%; }
  .f_col-25 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%; }
  .f_col-push-25 {
    margin-left: 25%; }
  .f_col-30 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    width: 30%; }
  .f_col-push-30 {
    margin-left: 30%; }
  .f_col-35 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    width: 35%; }
  .f_col-push-35 {
    margin-left: 35%; }
  .f_col-40 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    width: 40%; }
  .f_col-push-40 {
    margin-left: 40%; }
  .f_col-45 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    width: 45%; }
  .f_col-push-45 {
    margin-left: 45%; }
  .f_col-50 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%; }
  .f_col-push-50 {
    margin-left: 50%; }
  .f_col-55 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    width: 55%; }
  .f_col-push-55 {
    margin-left: 55%; }
  .f_col-60 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    width: 60%; }
  .f_col-push-60 {
    margin-left: 60%; }
  .f_col-65 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    width: 65%; }
  .f_col-push-65 {
    margin-left: 65%; }
  .f_col-70 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    width: 70%; }
  .f_col-push-70 {
    margin-left: 70%; }
  .f_col-75 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    width: 75%; }
  .f_col-push-75 {
    margin-left: 75%; }
  .f_col-80 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    width: 80%; }
  .f_col-push-80 {
    margin-left: 80%; }
  .f_col-85 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    width: 85%; }
  .f_col-push-85 {
    margin-left: 85%; }
  .f_col-90 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    width: 90%; }
  .f_col-push-90 {
    margin-left: 90%; }
  .f_col-95 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 95%;
    flex: 0 0 95%;
    width: 95%; }
  .f_col-push-95 {
    margin-left: 95%; }
  .f_col-100 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%; }
  .f_col-push-100 {
    margin-left: 100%; }
  .f_col-1of3 {
    width: 33.3333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%; }
  .f_col-2of3 {
    width: 66.6666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.6666%;
    flex: 0 0 66.6666%; } }

.f_col-sm-center {
  text-align: initial; }

.f_level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .f_level .f_level-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .f_level .f_level-item * {
      margin: 0; }
  .f_level .f_level-item-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    justify-self: flex-start; }
    .f_level .f_level-item-left * {
      margin: 0; }
  .f_level .f_level-item-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    justify-self: flex-end; }
    .f_level .f_level-item-right * {
      margin: 0; }
  .f_level.f_level-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .f_level.f_level-center .f_level-item {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.f_form {
  /* Removes awkward default styles on some inputs for iOS */ }
  .f_form input[type="email"],
  .f_form input[type="number"],
  .f_form input[type="search"],
  .f_form input[type="text"],
  .f_form input[type="tel"],
  .f_form input[type="url"],
  .f_form input[type="password"],
  .f_form textarea,
  .f_form select {
    height: 42px;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 0.25rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }
  .f_form input[type="email"],
  .f_form input[type="number"],
  .f_form input[type="search"],
  .f_form input[type="text"],
  .f_form input[type="tel"],
  .f_form input[type="url"],
  .f_form input[type="password"],
  .f_form textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .f_form textarea {
    min-height: 12rem;
    padding-top: 6px;
    padding-bottom: 6px; }
  .f_form input[type="email"]:focus,
  .f_form input[type="number"]:focus,
  .f_form input[type="search"]:focus,
  .f_form input[type="text"]:focus,
  .f_form input[type="tel"]:focus,
  .f_form input[type="url"]:focus,
  .f_form input[type="password"]:focus,
  .f_form textarea:focus,
  .f_form select:focus {
    border: 1px solid #33C3F0;
    outline: 0; }
  .f_form label,
  .f_form legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 300; }
  .f_form fieldset {
    padding: 0;
    border-width: 0; }
  .f_form input[type="checkbox"],
  .f_form input[type="radio"] {
    display: inline;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px); }
  .f_form label > .f_label {
    display: inline-block;
    margin-left: .225rem;
    font-weight: normal;
    -webkit-transform: translateY(-0.3rem);
    -ms-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem); }
  .f_form .f_field {
    margin-bottom: 1.5rem; }

.f_btn {
  display: inline-block;
  padding: .8rem 2.8rem;
  border: 0.1rem solid #989aa2;
  color: #f4f5f8;
  background-color: #989aa2;
  border-radius: 0.25rem;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .f_btn:hover {
    background-color: #787b85;
    border-color: #787b85; }
  .f_btn.f_btn-outline {
    background-color: transparent;
    color: #989aa2; }
    .f_btn.f_btn-outline:hover {
      background-color: #989aa2;
      color: #f4f5f8;
      border-color: #989aa2; }
  .f_btn.f_btn-link {
    display: inline;
    background-color: transparent;
    border-color: transparent;
    color: #306BAC;
    padding: 0; }
    .f_btn.f_btn-link:hover {
      color: #141B41; }

.f_btn.f_btn-primary {
  background-color: #58355E;
  color: #f4f5f8;
  border-color: #58355E; }
  .f_btn.f_btn-primary:hover {
    background-color: #402644;
    border-color: #402644; }

.f_btn.f_btn-primary-outline {
  background-color: transparent;
  color: #58355E;
  border-color: #58355E; }
  .f_btn.f_btn-primary-outline:hover {
    background-color: #58355E;
    border-color: #58355E;
    color: #f4f5f8; }

.f_btn.f_btn-secondary {
  background-color: #177E89;
  color: #f4f5f8;
  border-color: #177E89; }
  .f_btn.f_btn-secondary:hover {
    background-color: #115e66;
    border-color: #115e66; }

.f_btn.f_btn-secondary-outline {
  background-color: transparent;
  color: #177E89;
  border-color: #177E89; }
  .f_btn.f_btn-secondary-outline:hover {
    background-color: #177E89;
    border-color: #177E89;
    color: #f4f5f8; }

.f_btn.f_btn-tertiary {
  background-color: #7044ff;
  color: #f4f5f8;
  border-color: #7044ff; }
  .f_btn.f_btn-tertiary:hover {
    background-color: #511bff;
    border-color: #511bff; }

.f_btn.f_btn-tertiary-outline {
  background-color: transparent;
  color: #4107ff;
  border-color: #7044ff; }
  .f_btn.f_btn-tertiary-outline:hover {
    background-color: #7044ff;
    border-color: #7044ff;
    color: #f4f5f8; }

.f_btn.f_btn-info {
  background-color: #3880ff;
  color: #f4f5f8;
  border-color: #3880ff; }
  .f_btn.f_btn-info:hover {
    background-color: #0f66ff;
    border-color: #0f66ff; }

.f_btn.f_btn-info-outline {
  background-color: transparent;
  color: #005afa;
  border-color: #3880ff; }
  .f_btn.f_btn-info-outline:hover {
    background-color: #3880ff;
    border-color: #3880ff;
    color: #f4f5f8; }

.f_btn.f_btn-success {
  background-color: #10dc60;
  color: #222428;
  border-color: #10dc60; }
  .f_btn.f_btn-success:hover {
    background-color: #0db64f;
    border-color: #0db64f; }

.f_btn.f_btn-success-outline {
  background-color: transparent;
  color: #10dc60;
  border-color: #10dc60; }
  .f_btn.f_btn-success-outline:hover {
    background-color: #10dc60;
    border-color: #10dc60;
    color: #222428; }

.f_btn.f_btn-warning {
  background-color: #FF8811;
  color: #222428;
  border-color: #FF8811; }
  .f_btn.f_btn-warning:hover {
    background-color: #e77400;
    border-color: #e77400; }

.f_btn.f_btn-warning-outline {
  background-color: transparent;
  color: #d36900;
  border-color: #FF8811; }
  .f_btn.f_btn-warning-outline:hover {
    background-color: #FF8811;
    border-color: #FF8811;
    color: #222428; }

.f_btn.f_btn-danger {
  background-color: #DB3A34;
  color: #f4f5f8;
  border-color: #DB3A34; }
  .f_btn.f_btn-danger:hover {
    background-color: #c42823;
    border-color: #c42823; }

.f_btn.f_btn-danger-outline {
  background-color: transparent;
  color: #b22520;
  border-color: #DB3A34; }
  .f_btn.f_btn-danger-outline:hover {
    background-color: #DB3A34;
    border-color: #DB3A34;
    color: #f4f5f8; }

.f_btn.f_btn-dark {
  background-color: #222428;
  color: #f4f5f8;
  border-color: #222428; }
  .f_btn.f_btn-dark:hover {
    background-color: #0f1012;
    border-color: #0f1012; }

.f_btn.f_btn-dark-outline {
  background-color: transparent;
  color: #222428;
  border-color: #222428; }
  .f_btn.f_btn-dark-outline:hover {
    background-color: #222428;
    border-color: #222428;
    color: #f4f5f8; }

.f_btn.f_btn-gray {
  background-color: #989aa2;
  color: #f4f5f8;
  border-color: #989aa2; }
  .f_btn.f_btn-gray:hover {
    background-color: #83858f;
    border-color: #83858f; }

.f_btn.f_btn-gray-outline {
  background-color: transparent;
  color: #787b85;
  border-color: #989aa2; }
  .f_btn.f_btn-gray-outline:hover {
    background-color: #989aa2;
    border-color: #989aa2;
    color: #f4f5f8; }

.f_btn.f_btn-light {
  background-color: #f4f5f8;
  color: #222428;
  border-color: #f4f5f8; }
  .f_btn.f_btn-light:hover {
    background-color: #dbdee8;
    border-color: #dbdee8; }

.f_btn.f_btn-light-outline {
  background-color: transparent;
  color: #cfd3e0;
  border-color: #f4f5f8; }
  .f_btn.f_btn-light-outline:hover {
    background-color: #f4f5f8;
    border-color: #f4f5f8;
    color: #222428; }
