/*
  Grid
--------------------------------------------*/
.f_container,
.f_container-fluid {
  width: 100%;
  padding-left: $gap;
  padding-right: $gap;
}


.f_flex {
  display: flex;
}

.f_row {
  display: flex;
  margin-left: -$gap;
  margin-right: -$gap;
  flex-wrap: wrap;
}

.f_flex-columns {
  flex-direction: column;
}
.f_align-items-start {
  align-items: flex-start;
}
.f_align-items-end {
  align-items: flex-end;
}
.f_align-items-center {
  align-items: center;
}
.f_align-items-stretch {
  align-items: stretch;
}
.f_justify-content-start {
  justify-content: flex-start;
}
.f_justify-content-end {
  justify-content: flex-end;
}
.f_justify-content-between {
  justify-content: space-between;
}
.f_justify-content-around {
  justify-content: space-around;
}
.f_justify-content-center {
  justify-content: center;
}
.f_align-self-center {
  align-self: center;
}
.f_align-self-start {
  align-self: start;
}
.f_align-self-end {
  align-self: start;
}

.f_flex-nowrap {
  flex-wrap: nowrap;
}

.f_flex-wrap {
  flex-wrap: wrap;
}

.f_col {
  flex: 1;
  padding: 0;
}

.f_col-0 {
  flex: 0;
}

[class^="f_col-"] {
  width: 100%;
  flex-basis: 100%;
}

.f_row [class^="f_col-"],
.f_row .f_col {
  padding-left: $gap;
  padding-right: $gap;
}

// For small screens
@for $i from 1 through (100/5) {
  $w: $i * 5;

  .f_col-#{$w}\@xs {
    flex: 0 0 $w+0%;
    width: $w+0%;
  }

  .f_col-push-#{$w}\@xs {
    margin-left: $w+0%;
  }
}

.f_col-1of3\@xs  {
  width: decimal-floor(100 / 3, 4)+0%;
  flex: 0 0 decimal-floor(100 / 3, 4)+0%;
}

.f_col-2of3\@xs  {
  width: decimal-floor((100 / 3) * 2, 4)+0%;
  flex: 0 0 decimal-floor((100 / 3) * 2, 4)+0%;;
}


// For large screens
@media all and (min-width: #{$mq-lg}) {
  .f_container {
    width: 100%;
    max-width: #{$mq-lg - strip-unit($gap * 20)};
    margin: 0 auto;
  }

  .f_row, .f_flex {
    flex-direction: row;
  }

  .f_col {
    flex: 1;
  }

  @for $i from 1 through (100/5) {
    $w: $i * 5;
    .f_col-#{$w} {
      flex: 0 0 $w+0%;
      width: $w+0%;
    }

    .f_col-push-#{$w} {
      margin-left: $w+0%;
    }
  }

  .f_col-1of3 {
    width: decimal-floor(100 / 3, 4)+0%;
    flex: 0 0 decimal-floor(100 / 3, 4)+0%;
  }

  .f_col-2of3 {
    width: decimal-floor((100 / 3) * 2, 4)+0%;
    flex: 0 0 decimal-floor((100 / 3) * 2, 4)+0%;
  }
}


// Helpers
.f_col-sm-center {
  text-align: initial;
}

.f_level {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .f_level-item {
    flex: 1;
    display: flex;
    justify-content: center;

    * {
      margin: 0;
    }
  }

  .f_level-item-left {
    justify-content: flex-start;
    justify-self: flex-start;

    * {
      margin: 0;
    }
  }

  .f_level-item-right {
    justify-content: flex-end;
    justify-self: flex-end;

    * {
      margin: 0;
    }
  }

  &.f_level-center {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .f_level-item {
      justify-content: center;
    }
  }
}
