.f_text-center {
  text-align: center;
}

.f_text-left {
  text-align: left;
}

.f_text-right {
  text-align: right;
}

.f_block {
  display: block;
}


@each $n, $color in $colors {
    .f_color-#{$n} {
      color: $color;
    }

    .f_color-#{$n}-shade {
      color: get-color-shade($color);
    }

    .f_color-#{$n}-tint {
      color: get-color-tint($color);
    }

    .f_bg-#{$n} {
      background-color: $color;
    }

    .f_bg-#{$n}-shade {
      background-color: get-color-shade($color);
    }

    .f_bg-#{$n}-tint {
      background-color: get-color-tint($color);
    }
}
