// Fonts
$font-family: 'Helvetica Neue', Arial, sans-serif, !default;
$headings-font-family: $font-family !default;

// html is set to 62.5% so all rem measurements are based on 10px sizing.
// So 1.5rem = 15px
$gap: 1.25rem !default;
$base-font: 1.6rem !default;
$base-line-height: 1.45 !default;
$border-radius: 0.25rem !default;

/* Modular typography ratios
-------------------------------------------*/
// MInor third 1.2
// Major Third: 1.25
// Perfect Fourth 1.333
// Augmented Fourth 1.414
// Perfect fifth 1.5
// Golden Ratio 1.618
$ratio: 1.333 !default;

// Media queries
$mq-sm: 576px !default;
$mq-md: 768px !default;
$mq-lg: 1200px !default;

/* Colors
-------------------------------------------*/
$color-primary: #58355E !default;
$color-secondary: #177E89 !default;
$color-tertiary: #7044ff !default;
$color-info: #3880ff !default;
$color-success: #10dc60 !default;
$color-warning: #FF8811 !default;
$color-danger: #DB3A34 !default;
$color-dark: #222428 !default;
$color-gray: #989aa2 !default;
$color-light: #f4f5f8 !default;

$color-black: #323031 !default;
$color-white: #fff !default;

$color-body: $color-dark !default;

$link-color: #306BAC !default;
$link-hover-color: #141B41 !default;

$heading-color: $color-black !default;

// Color list
// used for buttons and other color helpers
$colors: (
    primary: $color-primary,
    secondary: $color-secondary,
    tertiary: $color-tertiary,
    info: $color-info,
    success: $color-success,
    warning: $color-warning,
    danger: $color-danger,
    dark: $color-dark,
    gray: $color-gray,
    light: $color-light
) !default;
